@import "tailwindcss";

  body {
    background-color: #fdfcf7;
  }

  @theme {
    --animate-scroll: scroll 52s linear infinite;
    
    @keyframes scroll {
      to{
        translate: calc(-8 * 12rem - 7rem);
      }
    }
  }