---
import backgroundImage from "#assets/images/background.webp";
---

<section class="w-full py-16 px-6 bg-white">
  <div class="max-w-6xl mx-auto">
    <div class="flex flex-col md:flex-row gap-8 lg:gap-12 items-center">
      <div class="flex-1 order-1 md:order-1">
        <h2 class="text-3xl md:text-4xl font-bold mb-6 text-slate-800">
          About Alefoods
        </h2>
        <p class="text-gray-600 mb-6 leading-relaxed">
          At <strong>Alefoods</strong>, we bring the authentic taste of Peru to
          the world. We specialize in exporting high-quality, natural foods,
          including our select coffee from Oxapampa and ready-to-eat quinoa from
          the Andes. Our mission is to deliver exceptional flavor and nutrition
          while upholding the highest standards of quality and social
          responsibility.
        </p>

        <button
          class="rounded-full bg-green-600 border-2 border-green-600 px-6 py-3 font-semibold text-black cursor-pointer transition-all ease-in-out duration-250 hover:bg-green-500 hover:border-2 hover:border-green-600 hover:text-white"
        >
          <a href="/about-us">Learn More</a>
        </button>
      </div>

      <div class="flex-1 w-full order-2 md:order-2">
        <!-- <div 
          class="w-full h-64 md:h-80 lg:h-96 rounded-lg bg-cover bg-center"
          style={`background-image: url(${backgroundImage.src})`}
        /> -->
        <img
          src={backgroundImage.src}
          loading="lazy"
          alt="Background image about us."
          class="w-full h-auto object-cover rounded-3xl"
        />
      </div>
    </div>
  </div>
</section>
