---
import FacebookIcon from "#assets/icons/FacebookIcon.astro";
import InstagramIcon from "#assets/icons/InstagramIcon.astro";
import TiktokIcon from "#assets/icons/TiktokIcon.astro";
import logo1 from "/public/logo1.webp";
---

<footer
  class="w-full text-white py-12 px-6 bg-[#0D2C54] bg-radial-[at_45%_20%] from-[#15437f] to-[#0D2C54]"
>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-8 gap-6">
      <div class="flex flex-col items-center sm:items-end">
        <div class="flex gap-2 mb-4">
          <img
            src={logo1.src}
            alt="Alefoods Logo"
            class="h-full w-33"
            loading="lazy"
          />
        </div>
        <p class="text-gray-400 text-sm items-center sm:items-end">
          Peruvian nutrition that inspires trust.
        </p>
      </div>

      <div class="flex flex-col items-center sm:items-end">
        <h3 class="text-lg font-bold lg:mb-2">Quick Links</h3>
        <ul class="flex flex-col items-center sm:items-end">
          <li>
            <a
              href="/products"
              title="Products"
              aria-label="Products"
              class="text-gray-400 hover:text-white transition-colors text-sm"
              >Products</a
            >
          </li>
          <li>
            <a
              href="/recipes"
              title="Recipes"
              aria-label="Recipes"
              class="text-gray-400 hover:text-white transition-colors text-sm"
              >Recipes</a
            >
          </li>
          <li>
            <a
              href="/about-us"
              title="About Us"
              aria-label="About Us"
              class="text-gray-400 hover:text-white transition-colors text-sm"
              >About Us</a
            >
          </li>
          <li>
            <a
              href="/contact-us"
              title="Contact Us"
              aria-label="Contact Us"
              class="text-gray-400 hover:text-white transition-colors text-sm"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col items-center sm:items-end">
        <h3 class="text-lg font-bold lg:mb-2">Contact Us</h3>
        <ul class="text-gray-400 flex flex-col items-center sm:items-end">
          <li>Location: Lima, Perú</li>
          <li>Phone: +51 987 654 321</li>
          <li>Email: info@alefoods.pe</li>
        </ul>
      </div>

      <div class="flex flex-col items-center sm:items-end sm:pr-16">
        <h3 class="text-lg font-bold mb-4">Follow Us</h3>
        <div class="flex gap-3">
          <a
            aria-label="Facebook"
            title="Facebook"
            href="https://www.facebook.com/alefoodsperu"
            target="_blank"
            class="w-10 h-10 bg-white rounded-full flex items-center justify-center transition-colors ease-out duration-350 hover:bg-[#0D2C54] hover:border-white hover:border-2 group"
          >
            <FacebookIcon
              class={"size-5 text-[#0D2C54]  group-hover:text-white"}
            />
          </a>
          <a
            aria-label="TikTok"
            title="TikTok"
            href="https://www.tiktok.com/@irides.pe"
            target="_blank"
            class="w-10 h-10 bg-white rounded-full flex items-center justify-center transition-colors ease-out duration-350 hover:bg-[#0D2C54] hover:border-white hover:border-2 group"
          >
            <TiktokIcon
              class={"size-5 text-[#0D2C54] group-hover:text-white"}
              color={"#0D2C54"}
            />
          </a>
          <a
            aria-label="Instagram"
            title="Instagram"
            href="https://www.instagram.com/irides.pe"
            target="_blank"
            class="w-10 h-10 bg-white rounded-full flex items-center justify-center transition-colors ease-out duration-350 hover:bg-[#0D2C54] hover:border-white hover:border-2 group"
          >
            <InstagramIcon
              class={"size-5 text-[#0D2C54]  group-hover:text-white"}
            />
          </a>
        </div>
      </div>
    </div>

    <hr class="border-gray-600 my-8" />

    <div class="text-center font-medium text-gray-200 text-sm">
      © 2026 <a
        href="/"
        title="Alefoods.pe"
        aria-label="Alefoods.pe"
        class="hover:text-white hover:underline">Alefoods.pe</a
      >. All rights reserved.
    </div>
  </div>
</footer>
