---
import backgroundImage from "#assets/images/background.webp";
---

<section class="w-full">
  <div class="relative z-50 h-[55vh] md:h-[65vh] lg:h-[90vh] overflow-hidden">
    <div class="absolute inset-0 bg-cover bg-center">
      <img
        src={backgroundImage.src}
        alt="Peruvian quinoa fields and agricultural landscape"
        loading="eager"
        class="w-full h-full object-cover md:object-bottom"
      />
    </div>
    <div class="absolute inset-0 bg-black/40"></div>

    <div class="relative z-10 flex h-full items-center justify-center px-6">
      <div class="text-center">
        <h1
          class="text-2xl text-shadow-xs text-shadow-white text-[#F7E4CD] sm:text-3xl md:text-4xl lg:text-5xl max-w-3xl mx-auto font-bold"
        >
          Peruvian nutrition that inspires your well-being
        </h1>
        <p
          class="mt-4 text-base font-semibold text-shadow-xs text-[#FDFCF7] text-shadow-[#F7E4CD] sm:text-lg md:text-xl"
        >
          Discover the natural power of Peruvian ingredients in every product we
          create.
        </p>

        <div class="mt-10 flex flex-col gap-4 sm:flex-row sm:justify-center">
          <a
            href="/products"
            title="View Products"
            class="rounded-full text-shadow-2xs text-shadow-black bg-[#4A5D23] border-2 border-[#4A5D23] px-6 py-3 font-semibold text-[#F7E4CD] cursor-pointer transition-all ease-in-out duration-250 hover:bg-[#5A6D33] hover:border-2 hover:border-[#4A5D23] hover:text-[#F7E4CD] hover:text-shadow-2xs hover:text-shadow-[#F7E4CD]"
          >
            View Products →
          </a>
          <a
            href="/recipes"
            title="Explore Recipes"
            class="rounded-full text-shadow-2xs text-shadow-white border-2 border-[#F7E4CD] px-6 py-3 font-semibold text-[#F7E4CD] cursor-pointer transition-all ease-in-out duration-200 hover:bg-[#F7E4CD] hover:text-[#4A5D23] hover:text-shadow-2xs hover:text-shadow-[#F7E4CD]"
          >
            Explore Recipes
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
