---
import CheckIcon from "#assets/icons/CheckIcon.astro";
import ClockIcon from "#assets/icons/ClockIcon.astro";
import HeartIcon from "#assets/icons/HeartIcon.astro";

---

<section class="w-full py-16 px-6 bg-white">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
      Why Choose Alefoods?
    </h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4  gap-8">
      <div class="text-center p-6 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
        <div class="mb-4">
          <div class="w-16 h-16 mx-auto bg-green-100 rounded-full flex items-center justify-center">
            <CheckIcon class={'size-8 text-green-600'} />
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-2">Peruvian Heritage</h3>
        <p class="text-sm text-gray-600">
          Andean quinoa and specialty coffee from Oxapampa.
        </p>
      </div>

      <div class="text-center p-6 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
        <div class="mb-4">
          <div class="w-16 h-16 mx-auto bg-green-100 rounded-full flex items-center justify-center">
            <ClockIcon class={'size-8 text-green-600'}/>
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-2">Ready To Eat</h3>
        <p class="text-sm text-gray-600">
           Pre-cooked quinoa, ready to serve and enjoy instantly.
        </p>
      </div>

      <div class="text-center p-6 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
        <div class="mb-4">
          <div class="w-16 h-16 mx-auto bg-green-100 rounded-full flex items-center justify-center">
            <HeartIcon class={'size-8 text-green-600'}/>
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-2">100% Natural</h3>
        <p class="text-sm text-gray-600">
           Gluten-free and no artificial additives.
        </p>
      </div>

      <div class="text-center p-6 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
        <div class="mb-4">
          <div class="w-16 h-16 mx-auto bg-green-100 rounded-full flex items-center justify-center">
            <HeartIcon class={'size-8 text-green-600'}/>
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-2">Daily Energy</h3>
        <p class="text-sm text-gray-600">
           Fuel your day with our premium coffee and quinoa.
        </p>
      </div>
    </div>
  </div>
</section>

